body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 20px; /* 기본 PC용 */
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  font-size: 20px;
  width: 40%;
  max-width: 200px;
  margin-bottom: 15px;
}

button {
  padding: 12px 20px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
}

#count {
  font-weight: bold;
  color: darkblue;
  font-size: 20px;
}

@media (max-width: 600px) {
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 28px;
  }

  input {
    font-size: 20px;
    padding: 12px;
    width: 80%;
    max-width: 250px;
  }

  button {
    font-size: 20px;
    padding: 10px 16px;
    margin: 8px;
  }

  #count {
    font-size: 20px;
  }
}








