body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
input {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px;
  margin: 5px;
}
#count {
  font-weight: bold;
  color: darkblue;
}